/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  padding: 20px 0;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
  margin: 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav li a {
  color: #fff;
  font-weight: bold;
}

header nav li a:hover {
  color: #ccc;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 50px;
}

h2 {
  color: #333;
  margin-top: 0;
}

.education-item, .experience-item {
  margin-bottom: 30px;
}

.education-item h3, .experience-item h3 {
  color: #555;
  margin-top: 0;
}

.project-item {
  margin-top: 20px;
}

.project-item h4 {
  color: #777;
  margin-top: 0;
}

ul li a:hover {
  text-decoration: underline;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

form textarea {
  height: 100px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

.btn:hover {
  background-color: #555;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
}
